.custom-toggler {
    padding: 0.01rem; /* Adjust this value to change the button's padding */
    font-size: 0.02rem; /* Smaller font size */
}

.custom-toggler .navbar-toggler-icon {
    width: .0rem; /* Adjust the width of the toggler icon */
    height: .0rem; /* Adjust the height of the toggler icon */
}
